<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <img src="./assets/images/macaroons.png" alt="Logo" class="logo__img">
      <div class="footer__right">Все права защищены, 2020</div>

    </div>
    <a href="#" class="instagram__icon">
      <img src="./assets/images/{{instagramIcon.img}}" alt="instagram-icon" class="instagram__icon_img">
      <div class="instagram__icon_text">{{instagramIcon.description}}</div>
    </a>
    <div class="phone-number footer__phone-number">{{phone}}</div>
    <div class="footer__right footer__right_375">Все права защищены, 2020</div>
  </div>
</footer>
