<header-component [elements]="[productsElement, advantagesElement, orderElement]" [phone]="phone"></header-component>
<section class="main" >
  <div class="container main__container">
    <div class="main__info">
      <h1 class="main__title">Мягкие французские
        пироженки Macaroons
      </h1>
      <div class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main__action">
        <button class="btn main__btn" coolButton (click)="scrollTo(productsElement)">Выбрать макарун</button>
      </div>
    </div>
    <div class="main__image">
      <img src="../assets/images/box-macaroons.png" alt="Box of macaroons" class="main__image_img">
    </div>
  </div>
</section>

<section class="advantages" #advantagesElement id="advantages">
  <div class="container ">
    <div class="advantages__container">
      <div class="advantages__info">
        <h2 class="advantages__title">
          Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет
        </h2>
        <div class="advantages__text">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без
          консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без
          дрожжей,
          маргарина, разрыхлителей и улучшителей муки.
        </div>
      </div>

      <div class="advantages__image">
        <img src="../assets/images/pink-macaroon.png" alt="Pink macaroon" class="advantages__image_img">
      </div>
    </div>
    <div class="advantages__items">
      <advantage-component *ngFor="let advantage of advantages" [advantage]="advantage"></advantage-component>
    </div>
  </div>
</section>

<section class="products" #productsElement id="products">
  <div class="container">
    <h2 class="products__title">
      Выберите свой макарун
    </h2>
    <div class="products__items">
      <product-component *ngFor="let product of products" [product]="product"  (addToOrderEvent)="addToCard($event, orderElement)"></product-component>
    </div>
  </div>
</section>

<section class="order" #orderElement id="order">
  <div class="container order__container">
    <img src="../assets/images/strawberryL.png" alt="strawberry" class="order__strawberryL">
    <img src="../assets/images/strawberryR.png" alt="strawberry" class="order__strawberryR">
    <div class="order__image">
      <img src="../assets/images/order-macaroons.png" alt="Column of macaroons" class="order__image_img">
    </div>
    <div class="order__main">
      <h2 class="order__title">Закажите макарун!</h2>
      <div class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>

      <div  class="order___form">
        <div class="order___form_subtitle">Ваш выбор</div>
        <div>
          <input type="text" class="input" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle">
        </div>

        <div class="order___form_subtitle">Заполните данные для заказа</div>
        <div class="order__inputs_wrap">
          <input type="text" class="input" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        </div>
        <div class="order__inputs_wrap">
          <input type="text" class="input" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        </div>

        <button class="btn order__btn" coolButton (click)="createOrder()">Оформить заказ</button>
      </div>

    </div>
  </div>
</section>
<footer-component [phone]="phone"></footer-component>
<cart-component *ngIf="showCart"></cart-component>
