/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/gilroy-regular.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("./assets/fonts/gilroy-medium.ttf");
}

@font-face {
  font-family: GilroyBold;
  src: url("./assets/fonts/gilroy-bold.ttf");
}
@font-face {
  font-family: GilroyExtraBold;
  src: url("./assets/fonts/gilroy-extrabold.ttf");
}
@font-face {
  font-family: Tavolga;
  src: url("./assets/fonts/tavolga-free.ttf");
}
body {
  box-sizing: border-box;
}
h2 {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.phone-number {
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
}

.btn {
  background-image: linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  transition: all 300ms;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transition: all 300ms;
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 528px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
